# Django Settings
SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,crm.cleaningkiki.kg

# Database
POSTGRES_DB=kikicrm
POSTGRES_USER=kikicrm_user
POSTGRES_PASSWORD=your-strong-password
POSTGRES_HOST=db_kikicrm
POSTGRES_PORT=5432

# Telegram Bot
TELEGRAM_BOT_TOKEN=8254676585:AAGQqe2Eysph3nduFsdFtDkW85INFDqvd6Y

# Redis
REDIS_HOST=redis_kikicrm
REDIS_PORT=6379
