{% extends 'pages/system/include/others/homepage.html' %}
{% load static %}
{% block content %}
    <div class="wrapper">
      {% include 'pages/system/include/others/dashboard.html' %}
      {% include 'pages/system/include/others/header.html' %}
      
      <div class="content-page">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 mb-4 mt-1">
              <div class="d-flex flex-wrap justify-content-between align-items-center">
                <h4 class="fw-bold">Выдача на заказ</h4>
                <a href="{% url 'inventory:stock_list' %}" class="btn btn-outline-secondary">Назад</a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header">
                  <h5>Оформить выдачу материалов на заказ</h5>
                </div>
                <div class="card-body">
                  <form method="post">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                      <label class="form-label">Товар *</label>
                      {{ form.product }}
                    </div>
                    
                    <div class="mb-3">
                      <label class="form-label">Количество *</label>
                      {{ form.quantity }}
                    </div>
                    
                    <div class="mb-3">
                      <label class="form-label">Примечания</label>
                      {{ form.notes }}
                      <div class="form-text">Например: номер заказа, комментарий для клинера</div>
                    </div>
                    
                    <div class="d-flex gap-2">
                      <button type="submit" class="btn btn-primary">Оформить выдачу</button>
                      <a href="{% url 'inventory:stock_list' %}" class="btn btn-outline-secondary">Отмена</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
        {% include 'pages/system/include/others/footer.html' %}
      </div>
    </div>
{% endblock %}
