{% extends 'pages/system/include/others/homepage.html' %}
{% load static %}
{% block content %}

    <!-- Wrapper Start -->
    <div class="wrapper">
        {% include 'pages/system/include/others/dashboard.html' %}
        
        {% include 'pages/system/include/others/header.html' %}

        <div class="content-page">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 my-schedule mb-4">
                  <div class="d-flex align-items-center justify-content-between">
                    <h4 class="fw-bold">Клиенты</h4>
                  </div>
                  <div class="create-workform">
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                      <div class="modal-product-search d-flex flex-wrap">
                        <form class="me-3 position-relative">
                          <div class="form-group mb-0">
                            <input type="text" class="form-control" id="exampleInputText" placeholder="Поиск клиентов">
                          </div>
                        </form>
                        {% if user_role == 'OPERATOR' or request.user.role == 'OPERATOR' %}
                          <a href="{% url 'customer_add' %}" class="btn btn-primary">
                            <i class="bi bi-plus-lg"></i> Добавить клиента
                          </a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="card car card-stretch">
                      <div class="card-body p-0">
                        <div class="d-flex justify-content-between align-items-center p-3 pb-md-0">
                          <h5 class="fw-bold">Список клиентов</h5>
                          <button class="btn btn-secondary btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" class="me-1" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                            </svg> Экспорт </button>
                        </div>
                        <div class="table-responsive iq-customer-table">
                          <table class="table data-table mb-0">
                            <thead class="table-color-heading">
                              <tr>
                                <th scope="col" class="pe-0 w-01">
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="select-all">
                                  </div>
                                </th>
                                <th scope="col">Имя</th>
                                <th scope="col">ID</th>
                                <th scope="col">Местоположение</th>
                                <th scope="col">Телефон</th>
                                <th scope="col" class="text-right">Действие</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for client in clients %}
                              <tr class="white-space-no-wrap">
                                <!-- чекбокс -->
                                <td class="pe-0">
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{ client.id }}">
                                  </div>
                                </td>
                          
                                <!-- имя + организация + фото -->
                                <td>
                                  <div class="d-flex align-items-center mt-0">
                                    <div class="h-avatar is-medium">
                                      {% if client.photo %}
                                        <img class="avatar rounded-circle" alt="user-icon" src="{{ client.photo.url }}" style="width: 50px; height: 50px;">
                                      {% else %}
                                        {% if client.gender == 'male' %}
                                          <img class="avatar rounded-circle" alt="user-icon" src="{% static 'assets/mystatic/images/users/man-icon.png' %}" style="width: 50px; height: 50px;">
                                        {% elif client.gender == 'female' %}
                                          <img class="avatar rounded-circle" alt="user-icon" src="{% static 'assets/mystatic/images/users/girl-icon.png' %}" style="width: 50px; height: 50px;">
                                        {% elif client.gender == 'other' %}
                                          <img class="avatar rounded-circle" alt="user-icon" src="{% static 'assets/mystatic/images/users/other-icon.png' %}" style="width: 60px; height: 60px;">
                                        {% endif %}
                                      {% endif %}
                                    </div>
                                    <div class="data-content ms-2">
                                      <div>
                                        <a href="{% url 'customer_view' client.id %}" class="text-dark text-decoration-none">
                                          <span class="fw-bold">{{ client.first_name }} {{ client.last_name }}</span>
                                        </a>
                                      </div>
                                      <p class="m-0 text-secondary small">
                                        {% if client.organization %}
                                          {{ client.organization }}
                                        {% else %}
                                          Частный клиент
                                        {% endif %}
                                      </p>
                                    </div>
                                  </div>
                                </td>
                          
                                <!-- email -->
                                <td><a href="{% url 'customer_view' client.id %}" class="text-dark text-decoration-none">{{ client.client_id|default:"—" }}</a></td>
                          
                                <!-- адрес -->
                                <td><a href="{% url 'customer_view' client.id %}" class="text-dark text-decoration-none">{{ client.address|default:"—" }}</a></td>
                          
                                <!-- телефон -->
                                <td>{{ client.phone }}</td>
                          
                                <!-- действия -->
                                <td>
                                  <div class="d-flex justify-content-start align-items-center">
                                    <a class="" data-bs-toggle="tooltip" data-bs-placement="top" title="View" href="{% url 'customer_view' client.id %}">
                                      <svg xmlns="http://www.w3.org/2000/svg" class="text-secondary" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                      </svg>
                                    </a>
                                  </div>
                                </td>
                              </tr>
                              {% empty %}
                              <tr>
                                <td colspan="6" class="text-center">Нет клиентов</td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- Wrapper End-->
    {% include 'pages/system/include/others/footer.html' %}  <!-- Library Bundle Script -->
{% endblock %}
