{% load static %}
<!-- СММ -->
{% if user.role == "SMM" %}
<!-- Клиенты -->
<li class="sidebar-layout">
  <a href="./customers.html" class="svg-icon">
    <i class="">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M17 20h5v-2a3 3 0 00-5.356-1.857M7 20H2v-2a3 3 0 015.356-1.857m12.288 0a5.002 5.002 0 00-9.288 0M12 4a4 4 0 110 8 4 4 0 010-8z" />
      </svg>
    </i>
    <span class="ms-2">Клиенты</span>
  </a>
</li>

<!-- Аналитика -->
<li class="sidebar-layout">
  <a href="./analytics.html" class="svg-icon">
    <i class="">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M11 3v18M6 8l6-5 6 5M4 21h16" />
      </svg>
    </i>
    <span class="ms-2">Аналитика</span>
  </a>
</li>

<!-- Задачи -->
<li class="sidebar-layout">
  <a href="./tasks.html" class="svg-icon">
    <i class="">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M9 12h6m2 7H7a2 2 0 01-2-2V7a2 2 0 012-2h10a2 2 0 012 2v10a2 2 0 01-2 2z" />
      </svg>
    </i>
    <span class="ms-2">Задачи</span>
  </a>
</li>

<!-- Профиль -->
<li class="sidebar-layout">
  <a href="./profile.html" class="svg-icon">
    <i class="">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M5.121 17.804A9 9 0 1119 9c0 4.971-4.029 9-9 9a9.003 9.003 0 01-4.879-1.196z" />
      </svg>
    </i>
    <span class="ms-2">Профиль</span>
  </a>
</li>
{% endif %}